@import "src/styles/colors.css";

.container {
  display: flex;
  flex-direction: row;
}

.label {
  color: inherit;
  margin-left: 10px;
  cursor: pointer;
}

.input {
  width: 17px;
  height: 17px;
  display: none;

  &:checked + .box {
    background-color: #fff;

    &:after {
      transform: rotate(-45deg) translate3d(0, 0, 0) scale(1);
    }
  }
}

.box {
  width: 17px;
  height: 17px;
  transition: all 1.1s cubic-bezier(.19, 1, .22, 1);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 1px rgba(0, 0, 0, .2);
  background-color: #fff;

  &:after {
    width: 50%;
    height: 20%;
    content: '';
    position: absolute;
    border-left: 4.5px solid;
    border-bottom: 4.5px solid;
    border-color: #c81618;
    border-color: #000;
    transform: rotate(-45deg) translate3d(0, 0, 0) scale(0);
    transform-origin: center center;
    transition: all 0.1s cubic-bezier(.19, 1, .22, 1);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}